/* Write your CSS here */

.table-row {
  border-left: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  display: flex;
}

.row {
  color: #334155;
}

.row-title {
  margin-left: 20px;
  width: 30%;
}

.row-amt {
  width: 25%;
}

.type-con {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 15px;
  align-items: center;
}

.del-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.del-img{
  width: 20px;
  height: 20px;
  align-self: center;
  margin-top: 4px;
}

@media screen and (min-width:768px){
  .del-img{
    width: 23px;
    height: 23px;
  }
}